<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Echo Health Care - Login</title>
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
	<body>
		<div class="auth-shell">
			<div class="login-page">
			  	<div class="form">
					<h1>Echo Health care</h1>
					<h2>Please log in</h2>
					<div class="error" th:if="${param.error}">
						Invalid username or password.
					</div>
					<div class="error" th:if="${param.logout}">
						You have been logged out.
					</div>
					<form class="login-form" th:action="@{/login}" method="post">
						<div>
							<input type="text" name="username" placeholder="Username" />
						</div>
						<div>
							<input type="password" name="password" placeholder="Password" />
						</div>
						<input class="button" type="submit" value="Log in" />
					</form>
				</div>
			</div>
		</div>
	</body>
</html>